.search-head {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.box {
    /*width: 140px;*/
    margin: 20px;
    /*height: 80px;*/
    overflow: scroll;
}

.detail {
    position: relative;
    /*background-color: #ff22ff;*/
}

.detail-inner {
    /*position: absolute;*/
    /*width: 145px;*/
    padding-bottom: 20px;
}

.pp {
    display: inline-block;
    width: 100%;
    white-space: pre-wrap;
}